@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #800080, #993399, #8A2BE2, #4B0082);
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.calculator{
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(66, 98, 162, 0.5);
    margin-top: 5px;

}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}



button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    border: 2px solid transparent;
    background-clip: padding-box;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

.equalBtn {
    background-color: #fb7c14;
    color: #fff;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.1);
}

.equalBtn:hover {
    background-color: #ff9c44;
}

.operator {
    color: #6dee0a;
}

.operator:hover {
    color: #6fee0a;
}
